/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LOWER 0
#define SYMBL 1
#define FN_LAYER 2
#define HYPER LS(LC(LGUI))

&lt {
    tapping_term_ms = <300>;
};

&mt {
    tapping_term_ms = <300>;
};

&sl {
    release-after-ms = <2000>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
&kp TAB                        &kp Q      &kp W         &kp E         &kp R  &kp T          &kp LEFT_PARENTHESIS      &kp RIGHT_PARENTHESIS  &kp Y    &kp U  &kp I      &kp O    &kp P      &kp SINGLE_QUOTE
&kp ESCAPE                     &kp A      &kp S         &kp D         &kp F  &kp G          &kp LBKT                  &kp RBKT               &kp H    &kp J  &kp K      &kp L    &kp SEMI   &kp RETURN
&mt LSHFT LANG_ZENKAKUHANKAKU  &kp Z      &kp X         &kp C         &kp V  &kp B          &mo 2                     &mo 2                  &kp N    &kp M  &kp COMMA  &kp DOT  &kp SLASH  &mt RIGHT_SHIFT BACKSLASH
&kp LCTRL                      &kp MINUS  &kp LEFT_GUI  &kp LEFT_ALT         &kp BACKSPACE  &lt 1 SPACE               &lt 1 SPACE            &kp DEL         &kp LEFT   &kp UP   &kp DOWN   &kp RIGHT
            >;
        };

        symbl_layer {
            bindings = <
&trans     &kp LS(EXCL)  &kp LS(DQT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp BSLH       &kp LBKT  &kp SEMI   &kp COLON  &kp N7  &kp N8        &kp N9      &kp BACKSPACE
&trans     &kp LS(AMPS)  &kp LS(SQT)  &kp LS(LPAR)   &kp LS(RPAR)  &kp LS(N0)     &kp CARET      &kp RBKT  &kp AT     &kp AMPS   &kp N4  &kp N5        &kp N6      &kp KP_MINUS
&trans     &trans        &trans       &trans         &trans        &kp MINUS      &trans         &trans    &kp CARET  &kp LPAR   &kp N1  &kp N2        &kp N3      &kp KP_PLUS
&kp SPACE  &trans        &trans       &trans                       &trans         &trans         &trans    &kp RPAR              &kp N0  &kp KP_COMMA  &kp KP_DOT  &kp RET
            >;
        };

        fn_layer {
            bindings = <
&kp F1     &kp F2  &kp F3    &kp F4    &kp F5   &kp F6   &trans      &kp C_VOLUME_UP    &kp C_PLAY_PAUSE  &kp C_PREV  &kp C_NEXT  &kp INSERT       &kp HOME  &kp PG_UP
&kp F7     &kp F8  &kp F9    &kp F10   &kp F11  &kp F12  &trans      &kp C_VOLUME_DOWN  &kp C_MUTE        &trans      &trans      &kp DEL          &kp END   &kp PG_DN
&kp LSHFT  &trans  &trans    &trans    &trans   &trans   &trans      &trans             &trans            &trans      &trans      &kp PRINTSCREEN  &kp UP    &kp RSHFT
&kp LCTRL  &trans  &kp LGUI  &kp LALT           &trans   &trans      &trans             &trans                        &trans      &kp LEFT         &kp DOWN  &kp RIGHT
            >;

            label = "FUNCTIONS";
        };
    };
};
